@media (max-width: 768px) {
    .container-modal{
        width: 100vw;
        height: 70vh;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }
    
    .modal{
        height: 60vh;
        border-radius: 10px;
        width: 90vw;
        background-color: var(--color-secundaria);
        display: flex;
        justify-content: center;

    }

    .modal-header{
        width: 100%;
        height: 50px;
        padding: 15px;
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: #0f0f1a;
    }

    .modal-header span{
        font-size: 16px;
        color: #8d8d8d;
    }
    
    .modal-header .close-modal{
        color: #8d8d8d;
        transform: scale(1.5);   
    }

    .modal-header .close-modal:hover {
        color: red;
    }
}